<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="create">
        <h2>Add a new Blog !</h2>
        <form method="POST" action = "/detail">
            <label>Task :</label>
            <input required type="text" name="detail_task">
            <label>Assign to:</label>
            <input required type="text" name="assignee">
            <label>Deadline</label>
            <input required type="date" name="deadline">
            <button>Add blog !</button>
        </form>
    </div>
    </div>
</body>

</html>