<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="navbar">
            <h1>The Dojo Blog</h1>
            <div class="links">
                <a href="#">Home</a>
                <a href="http://localhost:3000/detail">New Blog</a>
            </div>
        </div>
        <div class="task_list blog-preview">
            {{range $index,$element := .DetailTask}}
                <p>
                    {{$element.TaskDetail}}
                </p>
                <h3>
                    Assigned to : {{$element.Asignee}}
                </h3>
                <p>
                    Deadline : {{$element.Deadline}}
                </p>
                <form method="GET" action="/detail/{{$element.Id}}">
                    <input type="hidden" name="action" value="edit"/> 
                    <button>EDIT</button>
                </form>

                {{if $element.IsFinished}}
                    <h3>Task Finished</h3>
                {{else }}
                <form method="GET" action="/change/{{$element.Id}}">
                    <input type="hidden" name="action" value="done"/> 
                    <button>Mark as Done</button>
                </form>

                {{end}}
            {{else}}
                <h1>Belum ada data</h1>    
            {{end}}
        </div>
    </div>
</body>

</html>