<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="navbar">
            <h1>The Dojo Blog</h1>
            <div class="links">
                <a href="#">Home</a>
                <a href="#">New Blog</a>
            </div>
        </div>
        <div class="task_list blog-preview">
            <div class="task_preview">
                <h1> Ini task</h1>
            </div>
        </div>
    </div>
</body>

</html>